In [47]:
# 1. Python program to Find the size of a Tuple

t1=(1,2,3,4,5)
print("Size of Tuple1: " + str(t1.__sizeof__()) + "bytes")

Size of Tuple1: 64bytes

In [36]:
# 2.Python – Maximum and Minimum K elements in Tuple

t1=(1,2,3,4,5,6,7,8)
K = 2
l1=list(t1)
l1.sort()
my_result=tuple(l1[:K]+l1[-K:])
my_result

(1, 2, 7, 8)

In [ ]:
# 3.Create a list of tuples from given list having number and its cube in each tuple
l1=[1,2,3,4,5]
l2=[(i,i**3) for i in l1]
print(l2)
# way 2
l1=[1,2,3,4,5]
l2=[]
for i in l1:
    l2.append((i,i**3))
print(l2)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [ ]:
# 4. Python – Adding Tuple to List and vice – versa
l1=[1,2,3,4,5]
t1=(1,2,3,4,5)
l1.append(t1)
print(l1)
t2=list(t1)
t2.append(l1)
print(t2)

[1, 2, 3, 4, 5, (1, 2, 3, 4, 5)]
[1, 2, 3, 4, 5, [1, 2, 3, 4, 5, (1, 2, 3, 4, 5)]]

In [ ]:
# 5. Python – Sum of tuple elements
t1=(1,2,3,4,5)
print(sum(t1))

15

In [ ]:
# 6. Python – Modulo of tuple elements
t1=(1,2,3,4,5)
mod_value = 2
mod_results = [i % mod_value for i in t1]
print(mod_results)

1
0
1
0
1

In [ ]:
# 7. Python – Row-wise element Addition in Tuple Matrix
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=[]
for i in t1:
  l1.append(sum(i))
print(l1)

[3, 7, 18, 38]

In [ ]:
# 8. Python – Update each element in tuple list
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
for i in l1:
  for j in i:
    print(j+1,end=" ")
t1=tuple(l1)
print(t1)

2 3 4 5 6 7 8 9 10 11 12 ((1, 2), (3, 4), (5, 6, 7), (8, 9, 10, 11))

In [ ]:
# 9. Python – Multiply Adjacent elements
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
for i in l1:
  for j in i:
    print(j*(j+1),end=" ")

2 6 12 20 30 42 56 72 90 110 132

In [ ]:
# 10. Python – Join Tuples if similar initial element
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  if l2 and l2[-1][0]==i[0]:
    l2[-1].extend(i[1:])
  else:
    l2.append(list(i))
    t1=tuple(l2)
print(t1)

([1, 2], [3, 4], [5, 6, 7], [8, 9, 10, 11])

In [ ]:
# 11. Python – All pair combinations of 2 tuples
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
t2 = ((9,8),(7,6),(5,4),(3,2))
l1=list(t1)
l2=list(t2)
l3=[]
for i in l1:
  for j in l2:
    l3.append((i,j))
t3 = tuple(l3)
print(t3)

(((1, 2), (9, 8)), ((1, 2), (7, 6)), ((1, 2), (5, 4)), ((1, 2), (3, 2)), ((3, 4), (9, 8)), ((3, 4), (7, 6)), ((3, 4), (5, 4)), ((3, 4), (3, 2)), ((5, 6, 7), (9, 8)), ((5, 6, 7), (7, 6)), ((5, 6, 7), (5, 4)), ((5, 6, 7), (3, 2)), ((8, 9, 10, 11), (9, 8)), ((8, 9, 10, 11), (7, 6)), ((8, 9, 10, 11), (5, 4)), ((8, 9, 10, 11), (3, 2)))

In [ ]:
# 12. Python – Remove Tuples of Length K
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
k=2
l1=list(t1)
for i in l1:
  if len(i)==k:
    l1.remove(i)
    t1=tuple(l1)
print(t1)

((3, 4), (5, 6, 7), (8, 9, 10, 11))

In [ ]:
# 13. Python – Remove Tuples from the List having every element as none
t1 =((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
for i in l1:
  if all(j is None for j in i):
    l1.remove(i)
    t1=tuple(l1)
print(t1)

((1, 2), (3, 4), (5, 6, 7), (8, 9, 10, 11))

In [ ]:
# 14. Sort a list of tuples by second Item
t1 =((3,4),(1,2),(5,6,7),(8,9,10,11))
sorted_t1=sorted(t1, key=lambda x:x[1])
print(sorted_t1)

[(1, 2), (3, 4), (5, 6, 7), (8, 9, 10, 11)]

In [ ]:
# 15. Python – Sort Tuples by Total digits
t1=(3,6,5,6,7,432,6)
l1=list(t1)
l1.sort()
t1=tuple(l1)
print(t1)

(3, 5, 6, 6, 6, 7, 432)

In [ ]:
# 16. Python – Elements frequency in Tuple
t1=(3,6,5,6,7,432,6)
frequency={i:t1.count(i)for i in t1}
print(frequency)

{3: 1, 6: 3, 5: 1, 7: 1, 432: 1}

In [ ]:
# 17. Python – Filter Range Length Tuples
t1=(3,6,5,6,7,432,6)
l1=list(t1)

In [ ]:
# 18. Python – Assign Frequency to Tuples
t1=(3,6,5,6,7,432,6)
l1=list(t1)
frequency={i:t1.count(i)for i in t1}
l2=[]
for i in l1:
  l2.append(frequency[i])
t2=tuple(l2)
print(t2)

(1, 3, 1, 3, 1, 1, 3)

In [40]:
# 19. Python – Records with Value at K index
t1=((12,34,42),(34,567,867),(5,7),(8,9,10,11))
k=1
l1=list(t1)
l2=[]
for i in l1:
  if i[k] is not None:
    l2.append(i)
l2

[(12, 34, 42), (34, 567, 867), (5, 7), (8, 9, 10, 11)]

In [4]:
# 20. Python – Test if tuple is distinct
t1=(1,2,3,4,5,4,3,2,1)
if len(t1)==len(set(t1)):
  print("distinct")
else:
  print("not distinct")

not distinct

In [6]:
# 21. Python program to find tuples which have all elements divisible by K from a list of tuples
t1=((1,2),(6,4),(5,6,7),(8,9,10,11))
k=2
l1=list(t1)
l2=[]
for i in l1:
  if all(j%k==0 for j in i):
    l2.append(i)
t2=tuple(l2)
t2

((6, 4),)

In [7]:
# 22. Python program to find Tuples with positive elements in List of tuples
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  if all(j>0 for j in i):
    l2.append(i)
t2=tuple(l2)
t2

((1, 2), (3, 4), (5, 6, 7), (8, 9, 10, 11))

In [8]:
# 23. Python – Count tuples occurrence in list of tuples
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  l2.append(l1.count(i))
t2=tuple(l2)
t2

(1, 1, 1, 1)

In [9]:
# 24. Python – Removing duplicates from tuple
t1=(1,2,3,4,5,4,3,2,1)
t2=tuple(set(t1))
t2

(1, 2, 3, 4, 5)

In [11]:
# 25. Python – Remove duplicate lists in tuples (Preserving Order)
t1=((1,2),(3,4),(5,6,7),(8,9,10,11),(3,4),(2,1))
l1=list(t1)
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
t2=tuple(l2)
t2

((1, 2), (3, 4), (5, 6, 7), (8, 9, 10, 11), (2, 1))

In [13]:
# 26. Python – Extract digits from Tuple list
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  for j in i:
    if str(j).isdigit():
      l2.append(int(j))
t2=tuple(l2)
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [14]:
# 27. Python – Cross Pairing in Tuple List
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
t2=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=list(t2)
l3=[]
for i in range(len(l1)):
  l3.append((l1[i],l2[i]))
l3

[((1, 2), (1, 2)),
 ((3, 4), (3, 4)),
 ((5, 6, 7), (5, 6, 7)),
 ((8, 9, 10, 11), (8, 9, 10, 11))]

In [18]:
# 28. Python – Consecutive Kth column Difference in Tuple List
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
k=1
diffrence=[]
for i in range(1,len(t1)):
  diff=t1[i][k]-t1[i-1][k]
  diffrence.append(diff)
diffrence

[2, 2, 3]

In [19]:
# 29.Python – Kth Column Product in Tuple List
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
k=1
product=1
for i in t1:
  product *= i[k]
product

432

In [20]:
# 30. Python – Flatten tuple of List to tuple
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  for j in i:
    l2.append(j)
t2=tuple(l2)
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [22]:
# 31. Python – Flatten Tuples List to String
t1=((1,2),(3,4),(5,6,7),(8,9,10,11))
l1=list(t1)
l2=[]
for i in l1:
  for j in i:
    l2.append(str(j))
t2=''.join(l2)
t2

'1234567891011'

In [43]:

# 32. Python program to sort a list of tuples alphabetically
t1=(("bob",12),("justin",3),("abraham",1),("matt",13),("david",14),("miley",15))
l1=list(t1)
l1.sort()
l1

[('abraham', 1),
 ('bob', 12),
 ('david', 14),
 ('justin', 3),
 ('matt', 13),
 ('miley', 15)]

In [45]:
# 33. Python – Combinations of sum with tuples in tuple
t1 =((1,2),(3,4),(5,6),(0,7),(8,9),(10,11))
result = []
for i in range(len(t1)):
    for j in range(i+1, len(t1)):
        result.append((t1[i][0]+t1[j][0],
                    t1[i][1]+t1[j][1]))
print(t1)
print(result)

((1, 2), (3, 4), (5, 6), (0, 7), (8, 9), (10, 11))
[(4, 6), (6, 8), (1, 9), (9, 11), (11, 13), (8, 10), (3, 11), (11, 13), (13, 15), (5, 13), (13, 15), (15, 17), (8, 16), (10, 18), (18, 20)]

In [51]:
# 34. Python – Custom sorting in list of tuples
'''t1=((12,85),(11,9),(11,6),(57,67),(89,111))
l1=list(t1)
l1.sort(key=lambda x:x[1])
t2=tuple(l1)
t2'''



t1 = ((12,85),(11,9),(11,6),(57,67),(89,111))
l1=list (t1)
n = len(l1)
for i in range(n):
    for j in range(n-i-1):
        if l1[j][0] < l1[j+1][0] or (l1[j][0] == l1[j+1][0] and l1[j][1] > l1[j+1][1]):
            l1[j], l1[j+1] = l1[j+1], l1[j]
print(tuple(l1))

((89, 111), (57, 67), (12, 85), (11, 6), (11, 9))